<h1>Editing student</h1>

<%= error_messages_for :student %>

<% form_for(@student) do |f| %>
  <p>
    <b>Firstname</b><br />
    <%= f.text_field :firstname %>
  </p>

  <p>
    <b>Lastname</b><br />
    <%= f.text_field :lastname %>
  </p>

  <p>
    <b>Birthday</b><br />
    <%= f.date_select :birthday %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
