<p>
  <b>Firstname:</b>
  <%=h @student.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @student.lastname %>
</p>

<p>
  <b>Birthday:</b>
  <%=h @student.birthday %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
